.140_134 { 
	overflow:hidden;
}
.e140_134 { 
	background-color:rgba(255, 255, 255, 1);
	width:530px;
	height:784px;
	position:absolute;
}
.e140_210 { 
	width:60px;
	height:30px;
	position:absolute;
	left:235px;
	top:48px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_209 { 
	width:494px;
	height:180px;
	position:absolute;
	left:18px;
	top:118px;
	background-image:url(images/group_15_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_141 { 
	width:434px;
	height:327px;
	position:absolute;
	left:48px;
	top:338px;
}
.e140_142 { 
	width:434px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e140_143 { 
	color:rgba(58.4375012665987, 58.4375012665987, 58.4375012665987, 1);
	width:200px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e140_144 { 
	width:434px;
	height:36px;
	position:absolute;
	left:0px;
	top:54px;
}
.e140_145 { 
	color:rgba(0, 0, 0, 1);
	width:434px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e140_146 { 
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:114px;
}
.e140_147 { 
	color:rgba(0, 0, 0, 1);
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e140_211 { 
	width:434px;
	height:54px;
	position:absolute;
	left:0px;
	top:156px;
}
.e140_212 { 
	color:rgba(0, 0, 0, 1);
	width:434px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e140_208 { 
	width:315px;
	height:25px;
	position:absolute;
	left:0px;
	top:234px;
	background-image:url(images/frame_31_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_217 { 
	width:434px;
	height:44px;
	position:absolute;
	left:0px;
	top:283px;
}
.e140_182 { 
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e140_183 { 
	color:rgba(0, 0, 0, 1);
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e140_214 { 
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:26px;
}
.e140_215 { 
	color:rgba(0, 0, 0, 1);
	width:434px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Quicksand;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e140_207 { 
	width:124px;
	height:31px;
	position:absolute;
	left:203px;
	top:705px;
	background-image:url(https://s3.amazonaws.com/www.iblueconsulting.com.br/assets/img/Assinaturas/iBlue_GPTW.png);
	background-repeat:no-repeat;
	background-size:cover;
}
